<h4 class="margin-h4">Listado de asistencia a activiades de la fundación</h4>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm background-form">
            <div *ngIf="!active">
                <form (ngSubmit)="generarLista()" #generarForm="ngForm" class="form-horizontal" role="form">
                    <fieldset>
                <div class="form-group col-sm-6 col-md-4">
                    <label for="act" class="col-md-12">Actividad</label>
                    <div class="col-md-10">
                        <select class="form-control" [ngClass]="{'field-required': !act.value }" [required]="true" name="act" [(ngModel)]="actividad_sel" #act>
                            <option value="" >Seleccione</option>
                            <option *ngFor="let p of actividad" [value]="p.id">{{p.detalle}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4">
                    <label for="programa" class="col-md-12">Programa</label>
                    <div class="col-md-10">
                        <select class="form-control" [ngClass]="{'field-required': !programas.value && false }" [required]="false" name="programa" [(ngModel)]="programa_sel" #programas>
                            <option value="" >Seleccione</option>
                            <option *ngFor="let p of programa" [value]="p.id">{{p.detalle}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4">
                            <label for="fecha_asist" class="col-md-12">Fecha Asistencia</label>
                            <div class="col-md-10">
                                <input type="date" class="form-control" name="fecha_asist" [(ngModel)]="fecha_asistencia" readonly>
                            </div>
                        </div>
            <div class="col-sm-12 ">
                <button type="submit" class="btn btn-primary ">Generar Lista</button>
            </div>
                    </fieldset>
                </form>
            </div>
            <div *ngIf="active" class="margin-bottom-app">
                <form (ngSubmit)="guardarLista()" #visualizarForm="ngForm" class="form-horizontal" role="form">
                    <fieldset>
                      <div class="table-responsive">
                      <table class="table">
                      <tr>
                        <th>N.</th>
                        <th>N. Identificación</th>
                        <th>Nombre</th>
                        <th>Asistio</th>
                      </tr>
                      <tbody class="hoverTable">
                            <tr *ngFor="let p of model; let i = index">
                                <td>{{i + 1}}</td>
                                <td>{{p.numero_id}}</td>
                                <td>{{p.nombre1}}</td>
                                <td>
                                        <div class="checkbox">
                                            <label><input type="checkbox" name="isActive" [(ngModel)]="p.asistio"></label>
                                        </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="col-sm-12 ">
                        <button type="button" (click)="reset()" class="btn btn-primary ">Volver</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                    </fieldset>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
