<h4 class="margin-h4">Control Financiero</h4>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm background-form margin-bottom-app">
                <form *ngIf="active" (ngSubmit)="onSubmit()" #controlForm="ngForm" class="form-horizontal" role="form">
                    <fieldset>
                        <legend>Agregar nuevo concepto</legend>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="descripcion" class="col-md-12">Descripción</label>
                            <div class="col-md-10">
                                <input type="text" maxlength="80" [required]="true" [ngClass]="{'field-required': !field1.value }" class="form-control" name="descripcion" [(ngModel)]="model.descripcion" #field1>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="tipo_id" class="col-md-12">Tipo</label>
                            <div class="col-md-10">
                                <select class="form-control" [ngClass]="{'field-required': !field2.value }" [required]="true" name="tipo" [(ngModel)]="model.tipo" #field2>
                                <option value="" >Seleccione</option>
                                <option value="I" >Ingreso</option>
                                <option value="G" >Gasto</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="valor" class="col-md-12">Valor</label>
                            <div class="col-md-10">
                                <input type="number" max="99999999999999" [required]="true" [ngClass]="{'field-required': !field3.value }" min="1" name="valor" class="form-control" [(ngModel)]="model.valor" #field3>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="fecha" class="col-md-12">Fecha</label>
                            <div class="col-md-10">
                                <input type="date" [required]="true" [ngClass]="{'field-required': !field4.value }" class="form-control" name="fecha" [(ngModel)]="model.fecha" #field4>
                            </div>
                        </div>
                        <div class="col-sm-12 ">
                            <button type="submit" class="btn btn-primary">Agregar</button>
                            <button type="button" (click)="change2()" class="btn btn-info">Generar Reporte</button>
                        </div>
                    </fieldset>
                </form>
                <form *ngIf="!active" (ngSubmit)="listar()" #lcontrolForm="ngForm" class="form-horizontal" role="form">
                    <fieldset>
                    <div class="col-sm-12 " style="margin-bottom: 15px;">
                            <button type="button" (click)="change()" class="btn btn-info">Volver</button>
                            <button type="button" (click)="imprimir()" class="btn btn-primary">Exportar</button>
                    </div>
                    </fieldset>
                    <fieldset>
                    <div class="form-group col-sm-6 col-md-4">
                            <label for="fecha" class="col-md-12">Fecha Inicial</label>
                            <div class="col-md-10">
                                <input type="date" [required]="true" [ngClass]="{'field-required': !field5.value }" class="form-control" name="fecha" [(ngModel)]="fecha1" #field5>
                            </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for="fecha" class="col-md-12">Fecha Final</label>
                        <div class="col-md-10">
                            <input type="date" [required]="true" [ngClass]="{'field-required': !field6.value }" class="form-control" name="fecha" [(ngModel)]="fecha2" #field6>
                        </div>
                    </div>
                        <div class="col-sm-12 ">
                            <button type="submit" class="btn btn-primary btn-lg">Listar</button>
                        </div>
                    </fieldset>
                    <fieldset style="margin-top: 20px; max-length: 300px;">
                        <div class="table-responsive" id="window-pdf">
                            <table class="table">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Detalle</th>
                                    <th>Tipo</th>
                                    <th>Valor</th>
                                </tr>
                                <tbody class="hoverTable">
                                    <tr *ngFor="let p of lista; let i = index">
                                        <td>{{p.fecha}}</td>
                                        <td>{{p.descripcion}}</td>
                                        <td>{{p.tipo === 'I' ? 'INGRESO': 'GASTO'}}</td>
                                        <td>{{p.valor}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>Total</td>
                                        <td>{{ingreso - gasto}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>