<h4 class="margin-h4">Programas de la fundación</h4>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm background-form">
                <form (ngSubmit)="onSubmit()" #programaForm="ngForm" class="form-horizontal" role="form">
                    <fieldset>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="nombre" class="col-md-12">Nombre</label>
                            <div class="col-md-10">
                                <input type="text" maxlength="40" [required]="true" [ngClass]="{'field-required': !field1.value }" class="form-control" name="nombre" [(ngModel)]="model.nombre" #field1>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="descripcion" class="col-md-12">Descripción</label>
                            <div class="col-md-10">
                                <input type="text" maxlength="40" [required]="true" [ngClass]="{'field-required': !field2.value }" class="form-control" name="descripcion" [(ngModel)]="model.descripcion" #field2>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="estado" class="col-md-12">Estado</label>
                            <div class="col-md-10">
                                <select class="form-control" [ngClass]="{'field-required': !field3.value }" [required]="true" name="estado" [(ngModel)]="model.estado" #field3>
                                <option value="" >Seleccione</option>
                                <option value="A" >Activo</option>
                                <option value="I" >Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 ">
                            <button type="submit" class="btn btn-primary btn-lg">{{model.id === null ? 'Agregar' : 'Actualizar'}}</button>
                            <button type="button" (click)="init()" class="btn btn-primary btn-lg">Reiniciar</button>
                        </div>
                    </fieldset>
                    <fieldset style="margin-top: 20px; max-length: 300px;">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Detalle</th>
                                    <th>Estado</th>
                                </tr>
                                <tbody class="hoverTable">
                                    <tr *ngFor="let p of lista; let i = index" (click)="setRow(i)">
                                        <td>{{p.nombre}}</td>
                                        <td>{{p.descripcion}}</td>
                                        <td>{{p.estado === 'A' ? 'ACTIVO': 'INACTIVO'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>