<header>
    <div class="header-color-vinc"></div>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-header">
                        <img src="./assets/img/fundacion_logo_tr.png" height="84px" width="229px" align="left" />
                    </div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-center" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a routerLink="." routerLinkActive="active">Inicio</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Beneficiario <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a routerLink=".registro" routerLinkActive="active">Registro Beneficiario</a></li>
                                <li><a routerLink=".camera" routerLinkActive="active">Captura Foto Beneficiario</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a routerLink=".buscar" routerLinkActive="active">Buscar Beneficiario</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Listas<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a routerLink=".lista" routerLinkActive="active">Generar Lista de Asistencia</a></li>
                                <li><a routerLink=".historial-asistencia" routerLinkActive="active">Historial de Asistencia</a></li>
                            </ul>
                        </li>
                        <li><a routerLink=".financiero" routerLinkActive="active">Control Financiero</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Parametrización<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a routerLink=".actividades" routerLinkActive="active">Actividades</a></li>
                                <li><a routerLink=".ciudades" routerLinkActive="active">Ciudades</a></li>
                                <li><a routerLink=".departamentos" routerLinkActive="active">Departamentos</a></li>
                                <li><a routerLink=".identificaciones" routerLinkActive="active">Identificaciones</a></li>
                                <li><a routerLink=".programas" routerLinkActive="active">Programas</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a (click)="change()">Cerrar/Iniciar Sesion</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administración <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a >Sesion</a></li>
                                <li><a >Información</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
    </div>
</header>
<router-outlet></router-outlet>
<!--<router-outlet (activate)='menumain.updateStatus($event)' (deactivate)='menumain.updateStatus($event)'></router-outlet>-->
<footer>
    <div class="navbar navbar-default navbar-fixed-bottom footer-color-vinc">
        <span>Derechos Reservados @ 2016</span>
    </div>
</footer>