<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <button type="button" (click)="back()" class="btn btn-info">Volver</button>
                <button type="button" (click)="edit()" class="btn btn-info">Editar</button>
            </div>
            <div class="col-xs-12">
                <h1 class="text-center">
                    Fundación Roca de Sion
                </h1>
                <h3 class="text-center">
                    Información Beneficiario
                </h3>
            </div>
            <div class="col-xs-12">
                <div class="center-block" style="width: 130px; height: 160px; margin-bottom: 20px; background: ligth-gray;">
                    <img *ngIf="image !== null && image !== '' " style="max-width: 100%; cursor:pointer;" (click)="open()" [src]="image"/>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-8 col-xs-offset-2">
                    <table class="col-xs-12 table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                            <tr>
                                <th colspan="4">Información Basica</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Numero Identificación</td>
                                <td>{{model.numero_id}}</td>
                                <td>Tipo Identificación</td>
                                <td>{{getId(model.tipo_identificacion)}}</td>
                            </tr>
                            <tr>
                                <td>Fecha de Expedición</td>
                                <td>{{model.fecha_exp}}</td>
                                <td>Lugar de expedición</td>
                                <td>{{model.lugar_exp}}</td>
                            </tr>
                            <tr>
                                <td>Primer Nombre</td>
                                <td>{{model.nombre1}}</td>
                                <td>Segundo Nombre</td>
                                <td>{{model.nombre2}}</td>
                            </tr>
                            <tr>
                                <td>Primer Apellido</td>
                                <td>{{model.apellido1}}</td>
                                <td>Segundo Apellido</td>
                                <td>{{model.apellido2}}</td>
                            </tr>
                            <tr>
                                <td>Sexo</td>
                                <td>{{getSexo(model.sexo)}}</td>
                                <td>Fecha Nacimiento</td>
                                <td>{{model.fecha_nac}}</td>
                            </tr>
                            <tr>
                                <td>Programa</td>
                                <td>{{getPrograma(model.programa)}}</td>
                                <td>Estado</td>
                                <td>{{getEstado(model.estado)}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table *ngIf="model.programa === 1 || model.programa === 2 " class="col-xs-12 table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                            <tr>
                                <th colspan="4">Información Adulto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Telefono Fijo</td>
                                <td>{{adulto.telefono_1}}</td>
                                <td>Telefono Celular</td>
                                <td>{{adulto.telefono_celular}}</td>
                            </tr>
                            <tr>
                                <td>Correo Electronico</td>
                                <td>{{adulto.cuenta_correo}}</td>
                                <td>Estado Civil</td>
                                <td>{{getEstadoCivil(adulto.estado_civil)}}</td>
                            </tr>
                            <tr>
                                <td>Dirección Domicilio</td>
                                <td>{{adulto.direccion}}</td>
                                <td>Barrio de domicilio</td>
                                <td>{{adulto.barrio}}</td>
                            </tr>
                            <tr>
                                <td>Nivel academico</td>
                                <td>{{adulto.estudios}}</td>
                                <td>Seguro Medico</td>
                                <td>{{adulto.seguro_medico}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table *ngIf="model.programa === 1" class="col-xs-12 table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                            <tr>
                                <th colspan="4">Información Madres Cabeza de hogar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Religion a la que es devota</td>
                                <td>{{religion}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table *ngIf="model.programa === 2" class="col-xs-12 table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                            <tr>
                                <th colspan="4">Información Rehabilitados</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2">Tiempo que lleva consumiendo (meses)</td>
                                <td colspan="2">Alucinogeno que consume con mayor frecuencia</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{rehabilitado.tiempo_consumo}}</td>
                                <td colspan="2">{{rehabilitado.tipo_alucinogeno}}</td>
                            </tr>
                            <tr>
                                <td colspan="4"></td>
                            </tr>
                            <tr>
                                <td colspan="2">Compromiso que realizara con la fundacion</td>
                                <td colspan="2">Observaciones</td>
                            </tr>
                            <tr>
                                <td colspan="2" rowspan="3">{{rehabilitado.compromiso}}</td>
                                <td colspan="2" rowspan="3">{{rehabilitado.observaciones}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table *ngIf="model.programa === 3" class="col-xs-12 table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                            <tr>
                                <th colspan="4">Información Niños</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Institución Educativa</td>
                                <td>{{institucion_educativa}}</td>
                                <td>Grado que se encuentra cursando</td>
                                <td>{{grado_cursado}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="width: 100%; height: 100px;">
        </div>
    </div>