<h4 class="margin-h4">Registro de Beneficiarios de la fundación</h4>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm background-form margin-bottom-app">
            <div>
                <button *ngIf="update" type="button" (click)="image()" class="btn btn-info">Agregar/Editar Foto</button>
            </div>
                <form *ngIf="true" (ngSubmit)="onSubmit()" #registroForm="ngForm" class="form-horizontal" role="form">
                    <fieldset>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="tipo_id" class="col-md-12">Tipo Identificación</label>
                            <div class="col-md-10">
                                <select class="form-control" [ngClass]="{'field-required': !tipo_identificacion.value }" [required]="true" name="tipo_id" [(ngModel)]="model.tipo_identificacion" #tipo_identificacion>
                                <option value="" >Seleccione</option>
                                <option *ngFor="let p of tipo_id" [value]="p.id">{{p.detalle}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="numero_id" class="col-md-12">N. Identificación</label>
                            <div class="col-md-10">
                                <input type="number" max="99999999999999" [required]="true" [ngClass]="{'field-required': !cedula.value }" min="1" name="numero_id" class="form-control" [(ngModel)]="model.numero_id" [readonly]="update" #cedula>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="fecha_exp" class="col-md-12">Fecha de expedicion del documento</label>
                            <div class="col-md-10">
                                <input type="date" min="1900-01-01" [required]="true" [ngClass]="{'field-required': !fecha_expedicion.value }" class="form-control" name="fecha_exp" [(ngModel)]="model.fecha_exp" #fecha_expedicion>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="lugar_exp" class="col-md-12">Lugar de expedición del documento</label>
                            <div class="col-md-10">
                                <input type="text" [required]="true" maxlength="40" [ngClass]="{'field-required': !lugar_expedicion.value }" class="form-control" name="lugar_exp" [(ngModel)]="model.lugar_exp" #lugar_expedicion>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="nombre1" class="col-md-12">Primer Nombre</label>
                            <div class="col-md-10">
                                <input type="text" maxlength="25" [required]="true" [ngClass]="{'field-required': !nombre1.value }" class="form-control" name="nombre1" [(ngModel)]="model.nombre1" #nombre1>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="nombre2" class="col-md-12">Segundo Nombre</label>
                            <div class="col-md-10">
                                <input type="text" maxlength="30" [required]="false" [ngClass]="{'field-required': !nombre2.value  && false}" class="form-control" name="nombre2" [(ngModel)]="model.nombre2" #nombre2>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="apellido1" class="col-md-12">Primer Apellido</label>
                            <div class="col-md-10">
                                <input type="text" maxlength="25" [required]="true" [ngClass]="{'field-required': !apellido1.value }" class="form-control" name="apellido1" [(ngModel)]="model.apellido1" #apellido1>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="apellido2" class="col-md-12">Segundo Apellido</label>
                            <div class="col-md-10">
                                <input type="text" maxlength="25" [required]="false" [ngClass]="{'field-required': !apellido2.value && false }" class="form-control" name="apellido2" [(ngModel)]="model.apellido2" #apellido2>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="sexo" class="col-md-12">Sexo</label>
                            <div class="col-md-10">
                                <select class="form-control" [ngClass]="{'field-required': !sexo.value }" [required]="true" name="sexo" [(ngModel)]="model.sexo" #sexo>
                                <option value="" >Seleccione</option>
                                <option value="F" >Femenino</option>
                                <option value="M" >Masculino</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="fecha_nac" class="col-md-12">Fecha Nacimiento</label>
                            <div class="col-md-10">
                                <input type="date" min="1900-01-01" [required]="true" [ngClass]="{'field-required': !fecha_nac.value }" class="form-control" name="fecha_nac" [(ngModel)]="model.fecha_nac" #fecha_nac>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="programa" class="col-md-12">Programa</label>
                            <div class="col-md-10">
                                <select class="form-control" [ngClass]="{'field-required': !programas.value }" [required]="true" name="programa" [(ngModel)]="model.programa" #programas>
                                <option value="" >Seleccione</option>
                                <option *ngFor="let p of programa" [value]="p.id">{{p.detalle}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="estado" class="col-md-12">Estado</label>
                            <div class="col-md-10">
                                <select class="form-control" [ngClass]="{'field-required': !estado.value }" [required]="true" name="estado" [(ngModel)]="model.estado" #estado>
                                <option value="" >Seleccione</option>
                                <option value="A" >Activo</option>
                                <option value="I" >Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <h4 *ngIf="programas.value === '1' || programas.value === '2'" class="margin-h4">Información Adultos</h4>
                        <fieldset *ngIf="programas.value === '1' || programas.value === '2'">
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="telefono_1" class="col-md-12">Telefono fijo</label>
                            <div class="col-md-10">
                                <input type="number" max="9999999999" [required]="true" [ngClass]="{'field-required': !field1.value}" min="1" name="telefono_1" class="form-control" [(ngModel)]="adulto.telefono_1" #field1>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="telefono_celular" class="col-md-12">Telefono celular</label>
                            <div class="col-md-10">
                                <input type="number" max="99999999999999" [required]="true" [ngClass]="{'field-required': !field2.value }" min="1" name="telefono_celular" class="form-control" [(ngModel)]="adulto.telefono_celular" #field2>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="cuenta_correo" class="col-md-12">Correo electronico</label>
                            <div class="col-md-10">
                               <input type="email" [required]="false" [ngClass]="{'field-required': !field3.value && false}" class="form-control" name="cuenta_correo" [(ngModel)]="adulto.cuenta_correo" #field3>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="estado_civil" class="col-md-12">Estado civil</label>
                            <div class="col-md-10">
                                <select class="form-control" [ngClass]="{'field-required': !field4.value }" [required]="true" name="estado_civil" [(ngModel)]="adulto.estado_civil" #field4>
                                <option value="" >Seleccione</option>
                                <option value="1" >Soltero/a</option>
                                <option value="2" >Comprometido/a</option>
                                <option value="3" >Casado/a</option>
                                <option value="4" >Divorciado/a</option>
                                <option value="4" >Unión Libre</option>
                                <option value="5" >Viudo/a</option>
                                <option value="6" >Otro</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="direccion" class="col-md-12">Dirección de domicilio</label>
                            <div class="col-md-10">
                               <input type="text" maxlength="160" [required]="true" [ngClass]="{'field-required': !field5.value }" class="form-control" name="direccion" [(ngModel)]="adulto.direccion" #field5>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="barrio" class="col-md-12">Barrio de domicilio</label>
                            <div class="col-md-10">
                               <input type="text" max="40" [required]="true" [ngClass]="{'field-required': !field6.value }" class="form-control" name="barrio" [(ngModel)]="adulto.barrio" #field6>
                            </div>
                        </div> 
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="estudios" class="col-md-12">Nivel academico "Ultimo año academico cursado"</label>
                            <div class="col-md-10">
                               <input type="text" maxlength="40" [required]="true" [ngClass]="{'field-required': !field7.value }" class="form-control" name="estudios" [(ngModel)]="adulto.estudios" #field7>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="#seguro_medico" class="col-md-12">Seguro medico</label>
                            <div class="col-md-10">
                               <input type="text" maxlength="40" [required]="true" [ngClass]="{'field-required': !field8.value }" class="form-control" name="seguro_medico" [(ngModel)]="adulto.seguro_medico" #field8>
                            </div>
                        </div> 
                    </fieldset>
                    <h4 *ngIf="programas.value === '1' " class="margin-h4">Información Madres Cabeza de hogar</h4>
                    <fieldset *ngIf="programas.value === '1' ">
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="religion" class="col-md-12">Religión a la que es devota</label>
                            <div class="col-md-10">
                                <input type="text" maxlength="40" [required]="false" [ngClass]="{'field-required': !iglesia.value  && false}" class="form-control" name="religion" [(ngModel)]="religion" #iglesia>
                            </div>
                        </div>
                    </fieldset>
                    <div *ngIf="programas.value === '2' ">
                        <h4 class="margin-h4">Información Rehabilitados</h4>
                        <fieldset>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="tiempo" class="col-md-12">Tiempo que lleva consumiendo (meses)</label>
                            <div class="col-md-10">
                                <input type="number" max="99999" [required]="true" [ngClass]="{'field-required': !tiempo_consumo.value }" min="1" name="tiempo" class="form-control" [(ngModel)]="rehabilitado.tiempo_consumo" #tiempo_consumo>
                            </div>  
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="alucinogeno" class="col-md-12">Alucinogeno que consume con mayor frecuencia</label>
                            <div class="col-md-10">
                                <input type="text" maxlength="60" [required]="false" [ngClass]="{'field-required': !tipo_alucinogeno.value  && false}" class="form-control" name="alucinogeno" [(ngModel)]="rehabilitado.tipo_alucinogeno" #tipo_alucinogeno>
                            </div>
                        </div>
                        </fieldset>
                        <fieldset>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="compromiso" class="col-md-12">Compromiso que realizara con la fundacion</label>
                            <div class="col-md-10">
                              <textarea rows="4" maxlength="200" cols="50" [required]="false" [ngClass]="{'field-required': !compromiso.value  && false}" class="form-control" name="compromiso" [(ngModel)]="rehabilitado.compromiso" #compromiso></textarea>
                            </div>
                        </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group col-sm-6 col-md-4">
                                <label for="observaciones" class="col-md-12">Observaciones</label>
                                <div class="col-md-10">
                                    <textarea rows="4" maxlength="200" cols="50" [required]="false" [ngClass]="{'field-required': !observaciones.value  && false}" class="form-control" name="observaciones" [(ngModel)]="rehabilitado.observaciones" #observaciones></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <h4 *ngIf="programas.value === '3' " class="margin-h4">Información Niños</h4>
                    <fieldset *ngIf="programas.value === '3' ">
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="estudios" class="col-md-12">Nombre de la institución educativa a la que asiste</label>
                            <div class="col-md-10">
                                <input type="text" maxlength="50" [required]="false" [ngClass]="{'field-required': !institucion_educativa_q.value  && false}" class="form-control" name="estudios" [(ngModel)]="institucion_educativa" #institucion_educativa_q>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="grado" class="col-md-12">Grado que se encuentra cursando</label>
                            <div class="col-md-10">
                                <input type="text" maxlength="40" [required]="false" [ngClass]="{'field-required': !grado_cursado_q.value  && false}" class="form-control" name="grado" [(ngModel)]="grado_cursado" #grado_cursado_q>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                    <div class="col-sm-12 ">
                        <div *ngIf="save_error" class="help-block alert alert-warning">{{message_error}}</div>
                        <div *ngIf="save_success" class="help-block alert alert-success">"Guardado exitosamente"</div>
                    </div>
                    <div class="col-sm-12 ">
                        <button *ngIf="update" type="button" (click)="back()" class="btn btn-info">Volver</button>
                        <button type="submit" class="btn btn-primary ">{{update?'Actualizar':'Crear'}}</button>
                    </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>