<h4 class="margin-h4">Beneficiarios de la fundación</h4>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm background-form margin-bottom-app">
                <button type="button" class="btn btn-primary" (click)="imprimir()">Exportar</button>
               <form (ngSubmit)="onSubmit()" #bucarForm="ngForm" class="form-horizontal" role="form" style="margin-top: 20px;">
                   <fieldset>
                       <div class="form-group col-sm-6 col-md-4">
                            <label for="dep" class="col-md-12">Campo</label>
                            <div class="col-md-10">
                                <select class="form-control" [ngClass]="{'field-required': !dep.value }" [required]="true" name="dep" [(ngModel)]="field" #dep>
                                <option value="0" >Sin Filtrar</option>
                                <option value="1" >Nombre</option>
                                <option value="2" >Numero Identificación</option>
                                <option value="3" >Programa</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="dep.value === '1' || dep.value === '2' " class="form-group col-sm-6 col-md-4">
                            <label for="nombre" class="col-md-12">Texto</label>
                            <div class="col-md-10">
                                <input type="text" maxlength="40" [required]="true" [ngClass]="{'field-required': !field1.value }" class="form-control" name="nombre" [(ngModel)]="val" #field1>
                            </div>
                        </div>
                        <div *ngIf="dep.value === '3' " class="form-group col-sm-6 col-md-4">
                            <label for="field2" class="col-md-12">Programa</label>
                            <div class="col-md-10">
                                <select class="form-control" [ngClass]="{'field-required': !field2.value }" [required]="true" name="field2" [(ngModel)]="prog" #field2>
                                <option value="" >Selecione</option>
                                <option *ngFor="let p of programa" [value]="p.id">{{p.detalle}}</option>
                                </select>
                            </div>
                        </div>
                         <div class="form-group col-sm-6 col-md-4">
                            <label for="estado" class="col-md-12">Estado</label>
                            <div class="col-md-10">
                                <select class="form-control" [ngClass]="{'field-required': !estado.value}" [required]="true" name="estado" [(ngModel)]="est" #estado>
                                <option value="T" >Todos</option>
                                <option value="A" >Activo</option>
                                <option value="I" >Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-4" style="padding-top: 20px;">
                            <button type="submit" class="btn btn-success">Filtrar</button>
                            <button type="button" class="btn btn-info" (click)="reset()">Reiniciar</button>
                        </div>
                    </fieldset>
                </form>
                    <fieldset id="window-pdf">
                      <div class="table-responsive">
                      <table class="table">
                       <thead class="nonehover">
                            <tr>
                                <th>N. Identificación</th>
                                <th>Nombre</th>
                                <th>Fecha Nacimiento</th>
                                <th>Sexo</th>
                                <th>Programa</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                      <tbody class="hoverTable">
                            <tr *ngFor="let p of model; let i = index" (click)="viewDetail(p.numero_id)">
                                <td>{{p.numero_id}}</td>
                                <td>{{p.nombre1}}</td>
                                <td>{{p.fecha_nac}}</td>
                                <td>{{p.sexo}}</td>
                                <td>{{findProgram(p.programa)}}</td>
                                <td>{{getEstado(p.estado)}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    </fieldset>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>
