<h4 class="margin-h4">Departamentos</h4>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm background-form">
                <form (ngSubmit)="onSubmit()" #programaForm="ngForm" class="form-horizontal" role="form">
                    <fieldset>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="nombre" class="col-md-12">Nombre</label>
                            <div class="col-md-10">
                                <input type="text" pattern="[a-zA-Z][a-zA-Z0-9/\s/]*" [required]="true" [ngClass]="{'field-required': !field1.value }" class="form-control" name="nombre" [(ngModel)]="model.nombre" #field1>
                            </div>
                        </div>
                        <div class="col-sm-12 ">
                            <button type="submit" class="btn btn-primary btn-lg">{{model.id === null ? 'Agregar' : 'Actualizar'}}</button>
                            <button type="button" (click)="init()" class="btn btn-primary btn-lg">Reiniciar</button>
                        </div>
                    </fieldset>
                    <fieldset style="margin-top: 20px; max-length: 300px;">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>Nombre</th>
                                </tr>
                                <tbody class="hoverTable">
                                    <tr *ngFor="let p of lista; let i = index" (click)="setRow(i)">
                                        <td>{{p.nombre}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>