* {
    margin: 0;
}

body,
html {
    margin: 0;
    height: 100%;
}

h2,
h3,
label {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

label {
    font-size: 0.8em;
}

.header-vinc {
    width: 100%;
}

.header-color-vinc {
    height: 3px;
    width: 100%;
    background-color: black;
}

.nav-center {
    margin-left: 5px;
    margin-top: 15px;
}

.footer-color-vinc {
    width: 100%;
    background: rgba(3, 57, 88, 0.94);
    text-align: center;
}

.footer-color-vinc span {
    display: inline-block;
    color: #d9d9d9;
    font-size: 0.7em;
    padding-top: 30px;
}

.hidden-msg {
    display: none;
}

.field-required {
    /*border-left: 5px solid #42A948;*/
    border-left: 5px solid #a94442 !important;
}
.col-centered{
    float: none;
    margin: 0 auto;
}