<h4 class="margin-h4">Listado de asistencia a activiades de la fundación</h4>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm background-form margin-bottom-app">
            <div *ngIf="!active">
                <form (ngSubmit)="generarLista()" #generarForm="ngForm" class="form-horizontal" role="form">
                    <fieldset>
                <div class="form-group col-sm-6 col-md-4">
                    <label for="act" class="col-md-12">Actividad</label>
                    <div class="col-md-10">
                        <select class="form-control" [ngClass]="{'field-required': !act.value }" [required]="true" name="act" [(ngModel)]="actividad_sel" #act>
                            <option value="" >Seleccione</option>
                            <option *ngFor="let p of actividad" [value]="p.id">{{p.detalle + ' - ' + p.fecha}}</option>
                        </select>
                    </div>
                </div>
            <div class="col-sm-12 ">
                <button type="submit" class="btn btn-primary ">Mostrar</button>
            </div>
                    </fieldset>
                </form>
            </div>
            <div *ngIf="active">
                <button type="button" class="btn btn-primary" (click)="imprimir()" style="margin-bottom: 15px;">Exportar</button>
                <form (ngSubmit)="guardarLista()" #visualizarForm="ngForm" class="form-horizontal" role="form">
                    <fieldset id="window-pdf">
                      <div class="table-responsive">
                      <table class="table">
                      <tr>
                        <th>N.</th>
                        <th>N. Identificación</th>
                        <th>Nombre</th>
                        <th>Asistio</th>
                      </tr>
                      <tbody class="hoverTable">
                            <tr *ngFor="let p of model; let i = index">
                                <td>{{i + 1}}</td>
                                <td>{{p.numero_id}}</td>
                                <td>{{p.nombre1}}</td>
                                <td>{{p.asistio?'SI':'NO'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="col-sm-12 margin-bottom-app">
                        <button type="button" (click)="reset()" class="btn btn-primary ">Volver</button>
                    </div>
                    </fieldset>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
