<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-4 col-centered" style="margin-top: 100px;max-width: 300px;">
                <form>
                    <div id="login">
                        <div class="form-group">
                            <label for="user">Usuario</label>
                            <input type="text" [(ngModel)]="txt_user" class="form-control" name="user" #user_p/>
                        </div>
                        <div class="form-group">
                            <label for="user">Contraseña</label>
                            <input type="password" [(ngModel)]="txt_passwd" class="form-control" name="password" #passd_p/>
                        </div>
                        <div *ngIf="user_p.value.length < 4" class="help-block alert alert-warning">Longitud mínima de campo usuario de 4 caracteres</div>
                        <div *ngIf="passd_p.value.length < 4" class="help-block alert alert-warning">Longitud mínima de campo constraseña de 4 caracteres</div>
                        <div *ngIf="showerror" class="help-block alert alert-danger">Usuario y/o contraseña erronea</div>
                        <button type="button" class="btn btn-primary" (click)="checkUser()">Iniciar Sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>