<h4 class="margin-h4">Registro de los niños beneficiarios de la fundación</h4>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm background-form">
                <form [hidden]="!capturar" (ngSubmit)="onSubmit()" #registroForm="ngForm" class="form-horizontal" role="form">
                    <fieldset [hidden]="!active">
                        <div id="camdemo" style="width: 480px; height: 360px; text-align: center; margin: 0 auto;"></div>
                        <br>
                        <div style="text-align:center;">
                            <button type="button" (click)="back()" class="btn btn-info ">Volver</button>
                            <button type="submit" class="btn btn-primary ">Capturar</button>
                        </div>
                    </fieldset>
                </form>
                <form *ngIf="!capturar" (ngSubmit)="save()" #imagenForm="ngForm" class="form-horizontal" role="form">
                    <fieldset>
                        <div style="text-align:center;">
                            <img *ngIf="image != null" [src]="image" height="100%"/>
                        </div>
                        <div style="text-align:center; margin-top:20px;">
                            <button type="button" (click)="back()" class="btn btn-info ">Volver</button>
                            <button type="button" (click)="reset()" class="btn btn-info ">Nueva Captura</button>
                            <button *ngIf="image != null" type="submit" class="btn btn-primary " >Guardar</button>
                        </div>
                    </fieldset>
                    <fieldset>
                    <div class="col-sm-12 ">
                        <div *ngIf="save_error" class="help-block alert alert-warning">{{message_error}}</div>
                        <div *ngIf="save_success" class="help-block alert alert-success">"Guardado exitosamente"</div>
                    </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
