/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}
a {
    cursor: pointer;
}
.hoverTable {
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
}
.hoverTable tr {
    background: transparent;
}

.table tr {
    transition: background 0.2s ease-in;
}
.hoverTable tr:hover {
    background-color: rgba(0, 43, 141, 0.6);
}
.nonehover th:hover {
    background: transparent;
}
.margin-bottom-app{
    margin-bottom: 40px;
}